* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;    
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.nav-links a:hover{
    color: #ddd;
}

.nav-links a:focus{
    color: #4c5166;
    text-decoration: none;
}

header {
    background: linear-gradient(152deg, #1e73ff 0%, #030916 100%);
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;    
}

h1, h2, h3 {
    margin-bottom: 15px;
    color: #444;
}

p {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}   

.img-container {
    width: 100%;
    height: 300px; 
    overflow: hidden; 
    margin-bottom: 60px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Recorta la imagen para llenar el contenedor sin distorsionarla */
    object-position: center; /* Centra la imagen dentro del recorte */
}

.info-container{
    display: flex;
    gap: 20px;
    margin: 20px;
}

#contenido {    
    flex: 3;
    padding: 20px;
    background-color: white;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.categorias {
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.categorias ul {
    list-style-type: none;
    padding-left: 20px;
}

.categorias li {
    margin-bottom: 10px;
}   

.categorias a{
    color: #1900a7;
    text-decoration: none;
}

.categorias a:hover{
    color: #0195a0;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1e73ff;
    color: white;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .info-container {
        flex-direction: column;
    }

    #contenido {
        margin-right: 0;
    }   
    
}

@media (max-width: 480px) {
    .logo{
        color: lightcyan;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
}   